{% extends 'base.html.twig' %}

{% block title %}Edit Booking{% endblock %}

{% block contenu %}
    <div class="container">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Modification  Reservation</h4>
                            <p class="card-category"> Veuillez renseigner l'identité du client</p>
                        </div>
                        <div class="card-body">
                            {{ include('booking/_form.html.twig') }}
                        </div>
                    </div>
                </div>

            </div>
            {{ include('booking/_delete_form.html.twig') }}

        </div>
    </div>



{% endblock %}
