{% extends 'base.html.twig' %}

{% block title %}New Appartement{% endblock %}

{% block contenu %}


    <div class="container">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Ajouter un nouveau Appartement</h4>
                            <p class="card-category"> Veuillez renseigner l'identité du fournisseur</p>
                        </div>
                        <div class="card-body">
                            {{ include('appartement/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



{#    <a href="{{ path('appartement_index') }}">back to list</a>#}
{% endblock %}
